.bannar {
    width: 100%; 
    height: 300px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  
    overflow: hidden;
    margin: 10px;
    
}

.bannar img {
    max-width: 100%; 
    max-height: 100%; 
    width: 1380px;
    height:234.85;
    object-fit: cover;
    border-radius: 15px;
}
@media (max-width: 900px){
    .bannar{
        background-color: transparent;
        padding: 20px;
       
    }
}

@media (max-width: 1420px){
    .bannar img{
        padding: 25px;
        border-radius: 45px;
        
        
    }
} 
@media (max-width: 768px) {
    .bannar {
        margin-top: -70px;
        margin-bottom: -80px;
        
    }

  
}
@media (max-width:425px) {
    .bannar img{
        border-radius:35px;
        
       
    }
    .bannar{
        margin-top:-90px;
        margin-bottom: -110px;
        
    }
}



