.CareerHero {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  
  .CareerImage {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    /* filter: brightness(70%); */
  }
  .mainSection{
    height: auto;
    width: 100%;
    border: 1px solid red;
    padding: 20px;
    /* max-width: 1200px; */
    margin: 0 auto;
    
  }
  .section1{
    height: auto;
    width:70%;
    margin-left: 10%;
    margin-right: 10%;

    border: red;
  }
  .section1 h2{
    padding: 10px;
  }
  .section1 p{
    font-size: 18px;
    text-align: justify;
    
  }