.popupOverlay {
    position:absolute;
    padding-top: 90px;
    padding-left: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
  }
  
  .popupContent {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 437px;
    text-align:center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .message {
    margin-bottom: 20px;
    font-size: 14px;
    color: #333;
  }
  
  .icon {
    font-size: 20px;
    color: #f85a5a;
    margin-right: 8px;
  }
  
  .popupButtons {
    display: flex;
    justify-content: right;
    justify-content: space-between;
  }
  
  .manualBtn {
    background-color: white;
    margin: 10px;
    border-style:groove;
    border-radius: 7px;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    /* margin-right: 5px; */
    font-size: 14px;
  }
  
  
  
  .currentBtn {
    background-color: #28a745;
    height: 40px;
    margin:10px;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 9px 9px;
    cursor: pointer;
    display: inine-flex;
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    margin-left: 5px;
    font-size: 15px;
  }
  