

.moveToTopBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;

    max-width: min-content;
    display: flex;
    align-items: center;
    justify-content: end;

    background-color: rgb(218, 218, 218);

    padding: 15px;
    border-radius: 100%;
    font-size: 20px;
    color: #28a745;
    cursor: pointer;

    box-shadow: 5px 5px 10px gray;

    transition: all;
    transition-duration: 300ms;

    overflow: hidden;
}


.moveToTopBtn:hover .toTopBtn{
    animation: 1s 1 toTopBtnAnimation;
}

@keyframes toTopBtnAnimation {
    from {
        transform: translateY(30px);
    }

    to {
        transform: translateY(0px);
    }
}