/* display: flex; 
justify-content: center; 
align-items: center; */


.main {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
    padding: 10px;
    overflow-x: auto; 
    white-space: nowrap; 
    scrollbar-width: none; 
    margin-top: 10px;
  
}

.image {
    flex: 0 0 auto;
    width: 350px;
    height: 200px;
    border-radius: 17px;
    overflow: hidden; 
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
}

@media (max-width: 768px) {
    .image {
        width: 250px; 
        height: 150px; 
    }

    .main {
        gap: 10px;
        padding: 5px; 
    }
}

@media (max-width: 480px) {
    /* .image {
        width: 200px; 
        height: 120px; 
    } */

    .main {
        gap: 5px;
        padding: 2px; 
    }
}

