 .tableContainer {
    margin: 40px 0 40px 70px;
    
    width: 1300px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid lightblue;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
  }
  
  .tableHeader {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
  }
  
  .searchInput {
    /* flex: 1; */
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .searchButton {
    background-color: #6c5ce7;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .createButton {
    background-color: #6c5ce7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .productTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .productTable th,
  .productTable td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .productTable th {
    background-color: #f8f9fa;
  }
  
  .thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .approvedStatus {
    color: #27ae60;
    font-weight: bold;
  }
  
  .pendingStatus {
    color: #e74c3c;
    font-weight: bold;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #6c5ce7;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  
  .actionIcons button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .viewIcon {
    color: #3498db;
  }
  
  .editIcon {
    color: #f1c40f;
  }
  
  .deleteIcon {
    color: #e74c3c;
  }
  