/* General Wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  max-width: 100%;
}

/* Menubar */
.menubar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px 0px;
  padding-right: 150px;
  padding-left: 40px;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
   z-index: 1000;
   position: sticky;
   top: 91px;
   width: 100%;
  
}

.menubar .linkname p {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  margin: 0;
}

.menubar .linkname p:hover {
  color: #26a541;
}

/* Main Container */
.container {

  display: flex;
  height: calc(100vh - 91px);
  margin: 0;
  margin-top: 91px;
  flex-direction: row;
  margin-top: 1px;
  margin-left: 90px;
  margin-right: 50px;
}

/* Sidebar */
.sidebar {
  width: 240px; 
  background-color: #fff;
  margin-left: 30px;
  padding: 10px 0;
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid #eaeaea;
}

.sidebar .categoryName {
  display: flex;
  align-items: center;
  padding: 14px 15px;
  margin-bottom: 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-bottom: 1px solid #eaeaea; 
  border-left: 1px solid #eaeaea;
}

.sidebar .categoryName:last-child {
  border-bottom: none;
}

.sidebar .categoryName:hover,
.sidebar .categoryName.active {
  background-color: #e8f5e9;
  font-weight: bold;
  border-left: 4px solid #4caf50; 
}

.sidebar .categoryName .image img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}

.sidebar .categoryName .fix p {
  font-size: 15px;
  color: #333;
  margin: 0;
}

/* Products Section */
.productsSection {
  flex: 1;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  background-color: #f8f9fa;
  /* height: 100%; */
  
  overflow-y: auto;
  /* margin-left: 240px; */
}




